<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">ВНИМАНИЕ!

УВАЖАЕМЫЕ ПОСТУПАЮЩИЕ!</br>

16 июля (понедельник) 2018 года приём документов по программам бакалавриата и магистратуры и заключение договоров осуществляется с 10:00 до 17:00</br>
17 июля (вторник) 2018 года приём документов по программам бакалавриата и магистратуры и заключение договоров осуществляется с 14:00 до 17:00</br>
18 июля (среда) 2018 года, в связи с проведением вступительных испытаний, приём документов по программам бакалавриата не осуществляется,
приём документов по программам магистратуры и заключение договоров по программам бакалавриата и магистратуры осуществляется с 15:00 до 18:00</br>
19 июля (четверг) 2018 года приём документов по программам бакалавриата и магистратуры и заключение договоров осуществляется с 10:00 до 17:00</br>
УВАЖАЕМЫЕ АБИТУРИЕНТЫ!</br>
СООБЩАЕМ ВАМ ИНФОРМАЦИЮ О РАБОТЕ ПРИЕМНОЙ КОМИССИИ И ОРГАНИЗАЦИИ ПРИЕМА АБИТУРИЕНТОВ В
2018 ГОДУ</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>