<h2>О нас</h2>
<p>Мы являемся...</p>

 <style>
   	body {
    	background: #c7b39b url(http://topgunbarbershop.ru/local/templates/topgun/images/bg-prices.jpg); /* Цвет фона и путь к файлу */
    	color: #ddd; /* Цвет текста */
   		}
 </style>
