<h2>Об институте</h2>
<p>
Полное наименование</br>
ЧАСТНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ ВЫСШЕГО ОБРАЗОВАНИЯ «ЕВРАЗИЙСКИЙ ИНСТИТУТ «ТИГР»</br>
Руководитель, Директор: Трофимов Илья Викторович</br>  
ИНН: 560914412104 </br>
ОГРН 1187700009573 от 28 мая 2018 г.
ИНН/КПП 7727355591 / 772701001</br>
Юридический адрес:</br>
117624, город Москва, Изюмская улица, дом 45 корпус 1, помещение XII-комната 1
ЧОУ ВО «Евразийский Институт «Тигр», Москва – полные сведения из официальных источников: контакты, учредители, руководство, реквизиты и прочие данные. Детальная информация доступна в выписке из ЕГРЮЛ. </p>

 <style>
   	body {
    	background: #c7b39b url(); /* Цвет фона и путь к файлу */
    	color: #ddd; /* Цвет текста */
   		}
 </style>
